<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/sliders.ico" type="image/x-icon"/>
    <title>API</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            background-color: burlywood;
        }

        img {
            margin: 10px auto 10px auto;
        }
    </style>
</head>
<body>
<div class="wrapper">

</div>
</body>
</html>