<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/sliders.ico" type="image/x-icon"/>
    <title>Tutorial</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            background-color: burlywood;
        }

        img {
            margin: 10px auto 10px auto;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h1>Moving</h1>
    Use the W,A,S,D (default) (p1) or Arrows keys to move (p2).
    You will move untill you hit an obstacle.
    <br>
    <img src="../images/move.gif">
    <h1>Stopping</h1>
    When you go over the stop tile, you will stop.
    <br>
    <img src="../images/stop.gif">
    <h1>Bouncing</h1>
    When you hit someone from you team you bounce them away.
    <br>
    <img src="../images/bounce.gif">
    <br>
    <img src="../images/bounce_side.gif">
    <h1>Killing the enemy</h1>
    You can kill enemies when you hit them from the side.
    <br>
    <img src="../images/move_kill1.gif">
    <br>
    <img src="../images/move_kill2.gif">
    <br>
    When you bounce head on you both die.
    <br>
    <img src="../images/head_kill.gif">
    <br>
    If you don't move you will always die when you get hit.
    <br>
    <img src="../images/stopped_kill.gif">
</div>
</body>
</html>